.footer {
    margin-top: 120px;
    border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--mantine-spacing-md);
    padding-bottom: var(--mantine-spacing-md);

    @media (max-width: 36em) {
        flex-direction: column;
    }
}

.links {
    @media (max-width: 36em) {
        margin-top: var(--mantine-spacing-md);
    }
}

.logo {
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    height: 60px;
    width: auto;
}