.header {
  height: 60px;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  position: sticky;
  top: 0;
  z-index: 100;
}

.inner {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}


/* --- GOOGLE TRANSLATE FIXES --- */
body {
  top: 0 !important;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

iframe.goog-te-banner-frame {
  display: none !important;
  visibility: hidden !important;
  height: 0 !important;
}

.goog-te-gadget-icon {
  display: none !important;
}

#google_translate_element {
  display: none !important;
  visibility: hidden !important;
}

/* Fix for body shift */
body>.skiptranslate {
  display: none !important;
}