.card {
    transition: transform 150ms ease, box-shadow 150ms ease;
    display: flex;
    flex-direction: column;
    height: 100%;

    &:hover {
        transform: scale(1.01);
        box-shadow: var(--mantine-shadow-md);
    }
}

.section {
    padding-bottom: var(--mantine-spacing-md);
    flex: 1;
    display: flex;
    flex-direction: column;
}